body{
    background-color: #fbffeb;
    text-align: left;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    color: #3b590d;
    size-adjust: x-large;
    margin-left: 5%;
    margin-right: 5%;
    font-size: medium
}
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
  img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
  }
  
  .grid-container {
    margin: auto;
    max-width: 600px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
  }
  
  .collage1 {
    background: linear-gradient(135deg, #3b590d 0%, #3b590d 75%);
  }
  .collage1 .item {
    border: 5px solid white;
  }
  
  .item {
    border-radius: 100%;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px 0px;
  }
  
  .item1 {
    z-index: 14;
    grid-area: 1/5/7/11;
  }
  .item2 {
    z-index: 13;
    grid-area: 5/1/11/7;
  }
  .item3 {
    z-index: 15;
    grid-area: 4/6/11/13;
  }
  .item4 {
    grid-area: 3/-1/9/-7;
  }
  /* .item5 {
    z-index: 10;
    grid-area: 7/-3/10/-6;
  } */
  .item6 {
    z-index: 12;
    grid-area: -2/4/-9/11;
  }
  .item7 {
    z-index: 11;
    grid-area: -3/-2/-9/-8;
  }
  
  .grid-container > * {
    transition: all 0.5s;
  }
  .grid-container > *:hover {
    z-index: 99;
    transform: scale(1.3);
  }
  .first-divider{
    padding: 25px;
  }